{% extends "index.html" %}
{% load static %}

{% block codigoDinamico %}
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Sobre Nosotros</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <h3> Moviespedia </h3>
        <div> 
            <p> 
                Somos un sitio donde la gente puede publicar reseñas sobre peliculas/series que más les han gustado. <br>
                Proponemos un sistema donde el usuario tiene la capacidad de crear una reseña para que los demas usuarios puedan leerlas y opinar sobre ellas. <br>
                
            </p> 
        </div>
        <br>
        <br>
        <h3> Creadores </h3>
        <p> 
            Horenstein, Guido(Jefe de proyecto)
            <br>
            Terck, Joao (esclavo)
        </p>

{% endblock %}