{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}{% endblock %}
    <body>
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Acción</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if lista_accion %}
                        <ol>
                            {% for pelicula in lista_accion %}
                                <li>
                                    <button>
                                        <a href="{% url 'mostrar_blog' pelicula.id %}"> {{pelicula}} </a>
                                    </button>
                                </li>
                            {% endfor %}
                        </ol> 
                    {% else %}
                        <h4> Aún no hay reseñas de peliculas de acción! </h4>
                    {% endif %}
                </div>
            </div>
        </div>        
{% endblock %}
