{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}
<body>
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Crear Reseña</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form action="" method="get">
        <input type="text" name="autor" id="autor">
        <input type="submit" value="Buscar">
    </form>

    {% if blogs %}
        <ul>
        {% for blog in blogs %}
            <li> {{blog}} </li>
        {% endfor %}
        </ul>
    {% else %}
        {% if blog.autor == autor %}
            <p> No se encontro </p>
        {% else %}
            <p> Ingrese un autor </p>
        {% endif %}
        
    {% endif %}
{% endblock %}
