{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}
    <body>
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>"{{blog.subtitulo}}"</h1>
                            <h5>Reseña de {{blog.titulo}} por {{blog.autor}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{blog.resenia}}</p>
                    <h3>Nota final: {{blog.estrellas}} / 5 </h3>
                    <p>Publicado el: {{blog.fecha}}</p>
                    {% if  request.user.is_superuser %}
                        <button>
                            <a href="{% url 'eliminar_blog' blog.id %}" ></a>
                        </button>
                    {% else %}
                        <p>No se puede eliminar blog(prueba)</p>
                        
                    
                    {% endif %}
                </div>
            </div>
        </div>        
{% endblock %}