{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}
    <body>
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Todas las reseñas</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if blogs %}
                        <ol>
                            {% for blog in blogs %}
                                <li> 
                                    <a href="{% url 'mostrar_blog' blog.id %}"> {{blog}} </a>
                                    {% if request.user.is_superuser %}
                                        <button><a href="{% url 'eliminar_blog' blog.id %}">Eliminar</a></button>
                                        <button><a href="{% url 'editar_blog' blog.id %}">Editar</a></button>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        No hay ninguna reseña aun
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>        
{% endblock %}