{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}
    <header class="masthead" style="background-image: url(https://as2.ftcdn.net/v2/jpg/01/54/76/07/1000_F_154760711_C3jq59wTGrNVmIyB8DI54qkdlP6QBxZD.jpg)">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Géneros</h1>
                        <span class="subheading">Elige un género para navegar</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <h3><a href="{% url 'genero' 'Acción' %}">Acción</a> |</h3>
        </li>
        <li class="list-inline-item">
            <h3><a href="{% url 'genero' 'Drama' %}">Drama</a> |</h3>
        </li>
        <li class="list-inline-item">
            <h3><a href="{% url 'genero' 'Terror' %}">Terror</a> |</h3>
        </li>
        <li class="list-inline-item">
            <h3> <a href="{% url 'genero' 'Ciencia-ficción' %}">Ciencia Ficcion</a> |</h3>
        </li>
        <li class="list-inline-item">
            <h3> <a href="{% url 'genero' 'Comedia' %}">Comedia</a> |</h3>
        </li>
        <li class="list-inline-item">
            <h3><a href="{% url 'genero' 'Fantasia' %}">Fantasia</a></h3>
        </li>
    </ul>
{% endblock %}