{% extends 'base.html' %}
{% load static %}
{% block codigoDinamico %}
        <header class="masthead" style="background-image: url(https://as2.ftcdn.net/v2/jpg/01/54/76/07/1000_F_154760711_C3jq59wTGrNVmIyB8DI54qkdlP6QBxZD.jpg)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Moviespedia</h1>
                            <span class="subheading">El blog comunitario de reseñas</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% if blogs %}
                        <h1>Publicación para vos</h1>
                        <div class="post-preview">
                            <a href="{% url 'mostrar_blog' blog.id %}">
                                <h2 class="post-title">{{blog.titulo}} [{{blog.estrellas}}/5]</h2>
                                <h3 class="post-subtitle">"{{blog.subtitulo}}"</h3>
                            </a>
                            <p class="post-meta">
                                Subido por
                                <a href="{% url 'usuario' blog.autor %}">{{blog.autor}}</a>
                                el {{blog.fecha}}
                            </p>
                        </div>
                    {% else %}
                            {% if request.user.is_authenticated  %}
                                <h4> Aún no hay reseñas! </h4>
                                <p>Sé el primero en escribir una reseña</p>
                            {% else %}
                                <h4>Haz login para empezar a escribir!</h4>
                            {% endif %}
                            <br><br>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
