{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}
    <body>
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>"{{blog.subtitulo}}"</h1>
                            <h5>Reseña de {{blog.titulo}} por <a href="{% url 'usuario' blog.autor %}">{{blog.autor}}</a></h5>
                            <img height="100px" src="{{img}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3>Género: {{blog.genero}}</h3>
                    <h4>Duración: {{blog.duracion}} minutos</h4>
                    <h4>Lanzamiento: {{blog.anio}}</h4>
                    <br>
                    <h5>Reseña del usuario:</h5>
                    <p>{{blog.resenia}}</p>
                    <h3>Nota final: {{blog.estrellas}} / 5 </h3>
                    <p>Publicado el: {{blog.fecha}}</p>
                    <hr class="my-4" />
                    <h4><i>Comentarios</i></h4>
                    {% if comentarios %}
                        <ul>
                            {% for comentario in comentarios %}
                                <li>
                                    <p>'{{comentario.texto}}'<b>  por <a href="{% url 'usuario' comentario.autor %}">{{comentario.autor}}</a></b></p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Todavía no hay comentarios</p>
                    {% endif %}
                    {% if puede_comentar %}
                        <hr class="my-4" />
                        <h4><i>Dejá tu comentario</i></h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{ formulario.as_table }}
                            </table>
                            <input type="submit", value="Publicar", href="{% url 'mostrar_blog' blog.id %}">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>        
{% endblock %}