{% extends "base.html" %}
{% load static %}

{% block codigoDinamico %}
    <body>
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Hola, {{usuario.first_name}}</h1>
                            <h5>Acá podés editar tus datos</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul>
                        <li>
                            <p><b>Avatar:</b></p>
                            {% if url %}
                                <img height="100px" src="{{url}}"/>
                                <button>Cambiar avatar</button>
                            {% else %}
                                <p><a href="{% url 'agregar_avatar' %}">Agregar avatar</a></p>
                            {% endif %}
                        </li>
                        <li>
                            <p><b>Nombre de usuario:</b> {{usuario.username}} </p>
                        </li>
                        <li>
                            <p><b>Correo Electrónico:</b> {{usuario.email}}</p>
                        </li>
                        <li>
                            <p><b>Nombre y apellido:</b> {{usuario.first_name}} {{usuario.last_name}} </p>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>        
{% endblock %}